.product-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-bottom: 0.1rem solid #ccc;
  .product-details {
    h3 {
      font-size: 2.2rem;
    }
    p {
      font-size: 1.8rem;
      &:last-child {
        font-weight: 600;
        font-size: 2rem;
        color: var(--primary-color);
      }
    }
  }
  .product-order-form {
    label {
      font-size: 1.8rem;
    }
    input {
      border: none;
      outline: none;
      background: whitesmoke;
      font-size: 2rem;
      padding: 1rem;
      width: 8rem;
      font-weight: 600;
      margin-left: 1rem;
    }
  }
}
