.header{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 10;
    background: white;
    box-shadow: 0 0.1rem 0.5rem -0.2rem rgba(0,0,0,0.5);
}

.main{
    .flex-container{
        width: 80%;
        min-height: 65rem;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}

@media screen and (max-width:996px){
    .main .flex-container{
        width: 90%;
        margin:5rem auto 2rem auto;
        flex-direction: column-reverse;
    }
}