*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    line-height: 1.4;
    font-family:Poppins-Regular;
}
// *To Set 1rem=10px 
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
}

// *CSS Variables
:root{
 --primary-color:rgb(56, 56, 230);
}

body{
    background-color:whitesmoke;
    
}
@font-face {
    font-family: Poppins-Regular;
    src: url("../Font/Poppins-Regular.ttf");
}

.header{
    width: 100%;
    position: fixed;
    left: 0;
    top:0;
    z-index: 10;
    background: white;
    box-shadow: 0 0.1rem 0.5rem -0.2rem rgba(0,0,0,0.5);
}

.main{
    .flex-container{
        width: 80%;
        min-height: 65rem;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}

input.invalid{
    border: 0.2rem solid rgb(223, 19, 19) !important;
}

@media screen and (max-width:768px) {
    html{
        font-size: 58%;
    }
    
}

@media screen and (max-width:500px) {
    html{
        font-size: 55%;
    }
    
}