.cart-btn {
  display: block;
  width: 25rem;
  border: none;
  outline: none;
  background: var(--primary-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  padding: 0.5rem 0;
  border-radius: 2rem;
  cursor: pointer;

  span {
    margin: 0 1rem;
    &:last-child {
      border-radius: 50%;
      width: 3rem;
      height: 3rem;
      background: red;
    }
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
