
.add-btn{
    width: 10rem;
    margin: 1rem auto;
}
.outline-btn{
    background: none;
    color:var(--primary-color); 
    border: 0.1rem solid var(--primary-color);
    margin:0 2rem;

    &:hover{
        background: var(--primary-color);
        color:white;
    }
}